doctype html 
html
  head 
    title K'ahnifications
    meta(charset="utf-8")
    link(rel="stylesheet" href="/static/stylesheets/base.css")
    block head_styles
    block head_scripts
  body 
    .app
      block content 
    .footer
      block footer
    block body_scripts
