extends ./base

block head_scripts
  script(src="/static/vendor/floating/floating.js")
  script(src="/static/scripts/helpers.js")
  script(src="/static/scripts/emotes.js")
  script(src="/static/scripts/prayers.js")
  script(src="/static/scripts/poll-client.js")

block body_scripts
  script(src="/static/scripts/overlays-client.js")
